<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Chat Agent</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <div class="card">

            <h1>AI Chat Agent 🚀</h1>

            <p>
                GPT-OSS-120B Powered Assistant
            </p>

            <a href="/login/google" class="login-btn">
                Login with Google
            </a>

        </div>

    </div>

</body>
</html>